/* SinglePage and Single post */

#elegant_shop_sidebar_layout .inside .hide-radio input[type = "radio"] {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
}
#elegant_shop_sidebar_layout .inside .hide-radio label {
    display: block;
    border: 1px solid transparent;
}
#elegant_shop_sidebar_layout .inside .hide-radio input[type=radio]:checked + label {
    border: 3px solid #CCC;
}

/* Teams */


#elegant_shop_team_details .inside .clearfix .bold-label  {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#elegant_shop_team_details .inside .clearfix input {
    width: 47%;
}

#elegant_shop_team_details .team_member li {
  margin-bottom: 20px;
  font-size: 16px;
}

#elegant_shop_team_details .team_member li .description {
  font-size: 16px;
  display: block;
  margin-top: 5px;
}